   body {
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      background-color: #f2f2f2;
      color: #333;
    }

   header {
      background-color: #222222;
      color: #fff;
      padding: 0px;
      padding-top: 20px;
      text-align: center;
    }
    .search-container {
      max-width: 400px;
      margin: auto;
      background-color: #222222;
    }
    .logo{
    justify-content: center;
    margin: 0.100px; /* Opcional: añade un poco de margen alrededor de la imagen */
    margin-bottom: 10px;
    width: 200px; /* Opcional: ajusta el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    }
    .search-box {
      display: flex;
      width: 100%;
      border: 2px solid #ffffff;
      border-radius: 5px;
      overflow: hidden;
      background-color: white;
    }
    .search-box input[type="text"] {
      flex: 1;
      padding: 10px;
      border: none;
      outline: none;
      font-size: 16px;
    }
    .search-box button {
      padding: 10px 20px;
      border: none;
      background-color: rgba(0, 0, 0, 0.564);
      color: white;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;
    }
    .search-box button:hover {
      background-color: rgba(0, 0, 0, 0.834);
    }
     nav {
      background-color: #222222;
      display: inline-flex;
      justify-content: left;
      padding: 10px 0px;
    }

     nav a {
      margin: 0 15px;
      color: white;
      text-decoration: none;
      font-weight: bold;
      transition: opacity 0.3s;
    }

     nav a:hover {
      opacity: 0.7;
    }

    .cuenta{
      justify-content: right;
      margin-left: 200px;
      width: auto;
      height: auto;
    }
    .carro{
      justify-content: right;
      margin-left: 20px;
    }
     main{
      justify-content: center;
      display:grid;
      grid-template-columns: 1fr 3fr;
    }
    aside{
      display: block;
      margin: 45px 25px;
      justify-content: center;
    }
    .asidecard{
      background-color: white;
      width: 330px;
      height: 1070px;
      border-radius: 15px;
      box-shadow: 5px 8px 15px 8px rgba(0, 0, 0, 0.05);
      display: flex;
      flex-direction: column;
    }
    .categoriamain{
      color: white;
      margin: 22px 9px 11px 9px;
      padding: 12px 20px;
      font-size: 26px;
      font-weight: 605;
      text-align: center;
      background-color: #333;
      border-radius: 10px
    }
    .items{
      text-align: center;
      display: flex;
      flex-direction: column;
      margin: 10px;
      margin-left: 60px;
      width: 60%;
    }
    .categoriaa{
      color: #222222;
      transition: color 0.3s;
      transition: opacity 0.3s;
      text-decoration: none;
      cursor: pointer;
      font-size: 20px;
    }
    .categoriaa:hover{
      color: rgb(255, 0, 0);
      opacity: 0.7;
    }
    section{
      display: grid;
      justify-content: center;
      padding: 45px;
      padding-bottom: 80px;
      gap: 5px 30px;
      grid-template-rows: repeat(3, 360px);
      grid-template-columns: 1fr 1fr 1fr;
    }
    .card{
      background-color: white;
      padding: 10px;
      width: 250px;
      height: 320px;
      border-radius: 15px;
      box-shadow: 5px 8px 15px 8px rgba(0, 0, 0, 0.05);
      display: flex;
      flex-direction: column;
    }

    .cardheader{
      align-items: center;
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
    }

    .card h2 {
      margin: 0px;
      margin-left: 70px;
      margin-top: 15px;
      text-align: right;
      font-size: 22px;
      color: #222;
    }

    .card img{
      width: 140px;
      display: flex;
      flex-direction: column;
    }

    .card p{
      font-size: 12px;
      font-weight: bold;
      text-align: left;
    }
      .btncompra{
      margin-top: 30px;
      justify-content: center;
      padding: 10px 20px;
      border: solid #222222 2px;
      background-color: #222222;
      color: white;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.1s ease-out, color 0.1s ease-out;
      border-radius: 25px;
    }

    .btncompra:hover {
      background-color: rgba(255, 0, 0, 0.781);
      color: #222222;
    }

    footer {
      background-color: #222222;
      color: #ccc;
      text-align: center;
      padding: 20px;
      font-size: 0.9em;
    }
    .foot{
      align-content: flex-start;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      justify-items: flex-start;
    }
    .TecHub{
      width: 300px;
      margin-bottom: 17px;
      position: static;
    }
    .a-mark{
      text-decoration: none;
      color: #cccccc6e;
      cursor: pointer;
      transition: color 0.3s;
      transition: opacity 0.3s;
    }
    .a-mark:hover{
      color: rgba(255, 0, 0, 0.781);
      opacity: 0.7;
    }
    .redes-sociales{
      margin-inline-start: 20px;
      width: 28px;
      justify-content: left;
      transition: opacity 0.3s;
    }
    .redes-sociales:hover{
      opacity: 0.7;
    }
    .footer-bottom-group{
      align-content: flex-start;
      display: grid;
      margin: 5px 50px;
      justify-content: flex-start;
      justify-items: flex-start;
    }
    .copyright{
      text-align: center;
      margin-top: 50px;
    }